@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent {
    position: relative;

    overflow: hidden;

    width: $width;
    height: $height;
    cursor: pointer;
    transform: rotate(0deg);
    border: 1px solid black;
    background: $backgroundColor ;
    background-size:cover;
    box-sizing: border-box;

    img, div{
        position: absolute;
    }
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//Frame One

#copyOne{
    width: $width;
    height: $height;
    background: $backgroundColor;
}

#rimmelLogo{
    top: 7px;
    right: 6px;
}

.plash{
    
    transform: scale(10);
    opacity: 0;

    &:nth-child(1){
        left: 166px;
        top: 82px;
    }
    &:nth-child(2){
        left: 113px;
        top: 134px;
    }
    &:nth-child(3){
        left: 91px;
        top: 16px;
    }
    &:nth-child(4){
        left: 52px;
        top: 56px;
    }
    &:nth-child(5){
        left: 2px;
        top: 45px;
    }
    &:nth-child(6){
        left: 142px;
        top: 194px;
    }

}

//End Frame

#product{
    right: -1px;
    bottom: 7px;
}

#endCopy{
    top: 59px;
    left: 9px;
}

#cta{
    left: 25px;
    top: 173px;
}

//Clicktag
#bgExit {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


